<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IAddressBookService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:63395/AddressBookService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAddressBookService"
                contract="AddressBookServiceReference.IAddressBookService"
                name="BasicHttpBinding_IAddressBookService" />
        </client>
    </system.serviceModel>
</configuration>